<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Today's Symptoms:</h1>

		{{#power-select-multiple
			options=symptomOptions
			placeholder="Select your current symptoms"
			selected=selectedSymptoms
			onchange=(action (mut selectedSymptoms))
			as |symptom|
		}}
		  {{symptom.name}}
		{{/power-select-multiple}}
	</div>
	
	<div class="panel-body">
		<div class="container-fluid">
			{{#each selectedSymptoms as |sym|}}
				<div class="row">
					<div class="symptom-block">
						{{#if sym.isSlider}}
							{{#slider-symptom}}
								{{sym.name}}
							{{/slider-symptom}}
						{{else if sym.isText}}
							{{#text-symptom}} 
								{{sym.name}} 
							{{/text-symptom}}
						{{else}}
							{{#bool-symptom}}
								{{sym.name}}
							{{/bool-symptom}}
						{{/if}}
					</div>
				</div>
			{{/each}}
			
			<div class="row">
				<div class="additional-notes">
					{{textarea placeholder="Additional notes..." value=additionalNotes}}
				</div>
			</div>
			
			<div class="row">
				<div>
					<span>
						<button class="btn btn-info btn-sm pull-right" style="margin-right: 15px;" {{action 'saveLog'}}>
							<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Save Log
						</button>
					</span>
					<span>
						<button class="btn btn-fill btn-sm btn-danger pull-right" style="margin-right: 15px;" {{action "resetLog"}}>
							<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Reset Log
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>